{
  "jsxSingleQuote": false,
  "singleQuote": false,
  "printWidth": 80,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "useTabs": false,
  "endOfLine": "auto"
}
